@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* @font-face{
    font-family: "Didact Gothic";
    src:
    local("Didact Gothic")
} */
.completeContainer{
    padding: 0;
    margin: 0;
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none; 
    -webkit-user-drag: none;
}
.puzzleComplete{
    transition: 1s ease-in-out;
    margin-top:0vh;
    white-space: nowrap;
    align-self: center;
    font-size:calc(122px/var(--size-divisor2));
    font-weight: bold;
    color: rgb(0, 195, 255);
    font-family: 'Didact Gothic', sans-serif;
}
.Score{
    /* transition: 0.8s ease-in-out; */
    margin-top:10vh;
    margin-bottom: 0;
    align-self: center;
    font-size:calc(150px/var(--size-divisor2));
    color: rgb(66, 66, 66);
    font-family: 'Questrial', sans-serif;
    padding-right: calc(70px/var(--size-divisor2));
}
.Time{
    margin-top:5vh;
    margin-bottom: 0;
    align-self: center;
    font-size:calc(100px/var(--size-divisor2));
    color: rgb(0, 195, 255);
    font-family: 'Didact Gothic', sans-serif;
    animation: color-change 3s 0s infinite;
}
@keyframes color-change {
    0% {color:rgba(223, 49, 171, 0.562);}
    33% {color: rgba(34, 111, 255, 0.568);}
    66% {color: rgba(228, 145, 22, 0.514);}
    100% {color:rgba(223, 49, 171, 0.562);}
}