@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
.HomeContainer{
    display:flex;
    width: 100vw;
    height: 90%;
    flex-direction: column;
    transition: 0.5s ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-drag: none; 
    -webkit-user-drag: none;
    flex-shrink: 0;
}
.backgroundContainer img{ 
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.playBackground{
    display:flex;
    text-decoration: none;
    border:#000000bf 2px ;
    justify-content: center;
    background-color: #000000bf;
    border-radius: 30px;
    margin:auto;
    height:calc(100px/ var(--size-divisorhome));
    width: calc(170px/ var(--size-divisorhome));
    margin-top: 5vh;
    margin-bottom: 0;
    cursor: pointer;
}
.playBackground:hover{
    background-color: rgb(255, 255, 255);
}
.playBackground:active{
    background-color: rgb(72, 247, 189);
}
.playBackground h1{
    padding-bottom: 2vh;
    align-self: center;
    font-size: calc(82px/ var(--size-divisorhome));
    font-family: 'Didact Gothic';
    color: rgb(255, 255, 255);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
}
.playBackground:hover h1{
    color: rgb(0, 0, 0); 
}
.svgContainer{
    display:flex;
    padding:0;
    width:calc(469px/ var(--size-divisorhome));
    margin:auto;   
    margin-top:5vh;
    flex-direction: column; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
}

.ninesquaresContainer{
    width:100%;
    display:flex;
    padding:0;
    flex-direction: column; 
}
.svgContainer .Su{
    margin:0;
    align-self: flex-start;
    margin-top: calc(-295px/ var(--size-divisorhome));
    padding-left: calc(15px/ var(--size-divisorhome));
    font-size: calc(82px/ var(--size-divisorhome));
    color: rgb(223, 49, 170);
    z-index: 10;
    animation: color-change 5s 0s infinite;
}
.svgContainer .Do{
    margin:0;
    align-self: center;
    margin-top: calc(-110px/ var(--size-divisorhome));
    font-size: calc(88px/ var(--size-divisorhome));
    color: rgb(0, 240, 188);
    z-index: 10;
    animation: color-change 5s 0s infinite;
}
.svgContainer .Ku{
    margin:0;
    margin-top: calc(-110px/ var(--size-divisorhome));
    padding-right: calc(15px/ var(--size-divisorhome));
    align-self: flex-end;
    font-size: calc(82px/ var(--size-divisorhome));
    color: rgb(0, 183, 255);
    z-index: 10;
    animation: color-change 5s 0s infinite;
}
.svgContainer .One{
    margin:0;
    align-self: center;
    margin-top: calc(-280px/ var(--size-divisorhome));
    font-size: calc(82px/ var(--size-divisorhome));
    color: white;
    z-index: 10;
}
.svgContainer .Five{
    margin:0;
    margin-top:37vh;
    padding-left: calc(35px/ var(--size-divisorhome));
    align-self: flex-start;
    margin-top: calc(235px/ var(--size-divisorhome));
    font-size: calc(88px/ var(--size-divisorhome));
    color: white;
    z-index: 10;
}
.svgContainer .Nine{
    margin:0;
    padding-right: calc(35px/ var(--size-divisorhome));
    align-self: flex-end;
    margin-top: calc(-115px/ var(--size-divisorhome));
    font-size: calc(88px/ var(--size-divisorhome));
    color: white;
    z-index: 10;
}
.svgContainer .Three{
    margin:0;
    margin-top:37vh;
    align-self: center;
    margin-top: calc(-115px/ var(--size-divisorhome));
    font-size: calc(88px/ var(--size-divisorhome));
    color: white;
    z-index: 10;
}
.svgContainer .Eight{
    margin:0;
    padding-left: calc(35px/ var(--size-divisorhome));
    align-self: flex-start;
    margin-top: calc(-115px/ var(--size-divisorhome));
    font-size: calc(88px/ var(--size-divisorhome));
    color: white;
    z-index: 10;
}
.svgContainer .Four{
    margin:0;
    margin-top:37vh;
    padding-right: calc(35px/ var(--size-divisorhome));
    align-self: flex-end;
    margin-top: calc(-115px/ var(--size-divisorhome));
    font-size: calc(88px/ var(--size-divisorhome));
    color: white;
    z-index: 10;
}
.ninesquares{
    opacity:0.75;
    height:auto;
}



.onesquare1{
    position: fixed;
    margin-left:80vw;
    margin-top: 5vh;
    display: block;
    width:10vw;
    opacity: 0.7;
    transform: rotate(70deg);
    z-index: -1;
}
.onesquare2{
    position: fixed;
    margin-left:15vw;
    margin-top: 50vh;
    display: block;
    width:10vw;
    opacity: 0.7;
    transform: rotate(60deg);
    z-index: -1;
}
.onesquare3{
    position: fixed;
    margin-left:5vw;
    margin-top: 5vh;
    display: block;
    width:8vw;
    opacity: 0.2;
    transform: rotate(35deg);
    z-index: -1;
}
.onesquare4{
    position: fixed;
    margin:auto;
    margin-left:50vw;
    margin-top: 75vh;
    display: block;
    width:5vw;
    opacity: 0.7;
    transform: rotate(105deg);
    z-index: -1;
}
.onesquare5{
    position: fixed;
    margin-left:90vw;
    margin-top: 70vh;
    display: block;
    width:20vw;
    opacity: 0.7;
    transform: rotate(45deg);
    z-index: -1;
}
.onesquare6{
    position: fixed;
    margin-left:70vw;
    margin-top: 50vh;
    display: block;
    width:15vw;
    opacity: 0.4;
    transform: rotate(20deg);
    z-index: -1;
}
.onesquare7{
    position: fixed;
    margin-left:-10vw;
    margin-top: 70vh;
    display: block;
    width:20vw;
    opacity: 0.5;
    transform: rotate(10deg);
    z-index: -1;
}
.onesquare8{
    position: fixed;
    margin-left:25vw;
    margin-top: -10vh;
    display: block;
    width:15vw;
    opacity: 0.6;
    transform: rotate(55deg);
    z-index: -1;
}
.onesquare9{
    position: fixed;
    margin-left:65vw;
    margin-top: 5vh;
    display: block;
    width:6vw;
    opacity: 0.2;
    transform: rotate(9deg);
    z-index: -1;
}
.svgContainer a{
    margin-top: 5vh;
    font-size: calc(26px/ var(--size-divisorhome));
    pointer-events: all !important;
    color:black;
    font-family: 'Didact Gothic', sans-serif;
    align-self: center;
}
.Credit {
    position: relative !important;
    color:rgba(83, 83, 83, 0.764);
    font-size: 16px;
    width: 100%;
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    text-decoration: underline;
}
@keyframes color-change {
    0% {color:rgb(223, 49, 170);}
    33% {color: rgb(0, 240, 188);}
    66% {color: rgb(0, 183, 255);}
    100% {color:rgb(223, 49, 170);}
}
@media(min-width: 0px)and (min-height: 0px){
    :root{
        --size-divisorhome:4
    }
}
@media(min-width: 274px)and (min-height: 435px){
    :root{
        --size-divisorhome:2
    }
}
@media(min-width: 200px) and (min-height: 485px){
    :root{
        --size-divisorhome:1.8
    }
}
@media(min-width: 300px) and (min-height: 525px){
    :root{
        --size-divisorhome:1.6
    }
}
@media(min-width: 350px) and (min-height: 585px){
    :root{
        --size-divisorhome:1.4
    }
}
@media(min-width: 405px) and (min-height: 665px){
    :root{
        --size-divisorhome:1.2
    }
}

@media(min-width: 476px) and (min-height: 785px){
    :root{
        --size-divisorhome:1
    }
}

