@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
.rankings{
    margin-top:0.5em;
    width: 100%;
    min-height: 600px;
    display: flex;
    transition:1s ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.board{
    width:calc(700px/ var(--size-divisor2));
    min-width: calc(700px/ var(--size-divisor2));
    height:90vh;
    background-color: #2b3137d2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin:auto;
}
.boardsep{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin:0;
    height:0;
    width:100%;
}

.boardsep li{
    padding: 0;
    margin:0;
    height:90vh;
    width:5px;
    background-color: white;
    list-style: none;
}
.leftsep{
    margin-left:10% !important;
}
.rightsep{
    margin-left:67% !important;
}

.headings{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: calc(6px/var(--size-divisor2)) solid rgb(255, 255, 255);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    pointer-events: none;
    -webkit-user-select: none;

}
.headings li{
    color:white;
    font-family: 'Didact Gothic', sans-serif;
    font-size: calc(24px/var(--size-divisor2));
    border-bottom: 2px solid rgba(255, 255, 255, 0.726);
    line-height: 25px;
    list-style: none;
}
.player{
    padding:0 !important;
    display: flex;
    justify-content: flex-start;
    margin:0;
    width:100%;
    line-height: 25%;
    flex-direction: row;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.player li{
    padding:0 !important;
    color:white;
    /* margin-bottom: 10px; */
    font-family: 'Comfortaa', cursive;
    font-size: calc(26px/var(--size-divisor2));
    line-height: 5vh;
    list-style: none;
}
.Rank{
    display:flex;
    justify-content: center;
    font-size: calc(26px/var(--size-divisor2)) !important;
    min-width: calc(70px/var(--size-divisor2));
    padding:0;
}
.Name{
    display:flex;
    justify-content: center;
    min-width:calc(475px/var(--size-divisor2));
    font-size: calc(28px/var(--size-divisor2)) !important;
    padding:0;
}
.Points{
    display:flex;
    justify-content: center;
    font-size: calc(26px/var(--size-divisor2)) !important;
    min-width: calc(155px/var(--size-divisor2));
    padding:0;
}
.rankHeader{
    display:flex;
    justify-content: center;
    min-width: calc(70px/var(--size-divisor2));
    padding:0;
}
.nameHeader{
    display:flex;
    justify-content: center;
    min-width:calc(475px/var(--size-divisor2));
    padding:0;
}
.pointsHeader{
    display:flex;
    justify-content: center;
    min-width:calc(155px/var(--size-divisor2));
    padding:0;
}
.NextButton {
    transition: 50ms ease-in-out;
    margin-top:auto;
    margin-right:9%;
    width:calc(25px/var(--size-divisor2));
    margin-bottom: 3%;
    padding:0;
    align-self: flex-end;
    cursor: pointer;
}
.NextButton:active{
    width:calc(22px/var(--size-divisor2));
}
.PrevButton {
    transition: 50ms ease-in-out;
    margin-top:auto;
    margin-left:3%;
    width:calc(25px/var(--size-divisor2));
    margin-bottom: 3%;
    padding:0;
    align-self: flex-start;
    transform: rotate(180deg);
    cursor: pointer;
}
.PrevButton:active{
    width:calc(22px/var(--size-divisor2));
}
@media(min-width: 190px){
    :root{
        --size-divisor2:2.2
    }
}
@media(min-width: 290px){
    :root{
        --size-divisor2:2
    }
}
@media(min-width: 390px){
    :root{
        --size-divisor2:1.8
    }
}

@media(min-width: 490px){
    :root{
        --size-divisor2:1.6
    }
}
@media(min-width: 590px){
    :root{
        --size-divisor2:1.4
    }
}
@media(min-width: 700px){
    :root{
        --size-divisor2:1
    }
}
